Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

lint:
  stages:
  - pre-commit
  name: lint
  language: system
  entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
  pass_filenames: false

no-plus-in-core:
  stages:
  - pre-commit
  name: No "plus" in core
  language: pygrep
  entry: plus

no-console-log:
  stages:
  - pre-commit
  name: No console.log() calls
  language: pygrep
  entry: console\.log

[core] fix: pin sharp to one version so Lottie stickers convert
  package.json
  yarn.lock
Due: no-console-log

up(WPP)
  yarn.lock
Due: no-console-log

version: 2026.9.1
  src/version.ts
Due: lint, no-console-log

up(GOWS)
  waha.config.json
Due: no-console-log

fix(GOWS) - no empty subject for a group - mention #2257
  src/structures/groups.dto.ts
Due: lint, no-plus-in-core, no-console-log

fix(NOWEB): archive/unread chat without recent message (closes #2258, fixes #2181)
  src/core/engines/noweb/noweb.exceptions.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/noweb/store/NowebInMemoryStore.ts
Due: lint, no-plus-in-core, no-console-log

fix(WEBJS): fix presence subscribe on LID accounts - close #2262
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

chore: validate poll payload - mention #2261
  src/api/chatting.controller.ts
  src/nestjs/validation/TrimString.ts
  src/structures/chatting.dto.ts
Due: lint, no-plus-in-core, no-console-log

fix(WEBJS): fix presence.update
  src/core/engines/webjs/WebjsClientCore.ts
  src/core/engines/webjs/presence.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/engines/webjs/types.ts
Due: lint, no-plus-in-core, no-console-log

feat(ChatWoot): send messages from device as messages in ChatWoot - fix #2249
  src/apps/chatwoot/api/chatwoot.webhook.controller.ts
  src/apps/chatwoot/api/webhook.guards.ts
  src/apps/chatwoot/consumers/task/messages.pull.ts
  src/apps/chatwoot/consumers/waha/base.ts
  src/apps/chatwoot/consumers/waha/call.accepted.ts
  src/apps/chatwoot/consumers/waha/call.received.ts
  src/apps/chatwoot/consumers/waha/call.rejected.ts
  src/apps/chatwoot/consumers/waha/message.any.ts
  src/apps/chatwoot/consumers/waha/message.edited.ts
  src/apps/chatwoot/consumers/waha/message.reaction.ts
  src/apps/chatwoot/di/DIContainer.ts
  src/apps/chatwoot/dto/config.dto.ts
Due: lint, no-console-log

feat(ChatWoot): contacts pull --name=keep|fill|overwrite - fix #2252
  src/apps/chatwoot/cli/program.contacts.ts
  src/apps/chatwoot/client/ContactConversationService.ts
  src/apps/chatwoot/client/ContactService.test.ts
  src/apps/chatwoot/client/ContactService.ts
  src/apps/chatwoot/consumers/task/contacts.pull.ts
  src/apps/chatwoot/contacts/InboxContactInfo.ts
  src/apps/chatwoot/contacts/WhatsAppContactInfo.ts
  src/apps/chatwoot/i18n/locales/ar-AE.yaml
  src/apps/chatwoot/i18n/locales/bn-BD.yaml
  src/apps/chatwoot/i18n/locales/de-DE.yaml
  src/apps/chatwoot/i18n/locales/en-US.yaml
  src/apps/chatwoot/i18n/locales/es-ES.yaml
  src/apps/chatwoot/i18n/locales/fa-IR.yaml
  src/apps/chatwoot/i18n/locales/fr-FR.yaml
  src/apps/chatwoot/i18n/locales/he-IL.yaml
  src/apps/chatwoot/i18n/locales/hi-IN.yaml
  src/apps/chatwoot/i18n/locales/id-ID.yaml
  src/apps/chatwoot/i18n/locales/it-IT.yaml
  src/apps/chatwoot/i18n/locales/pa-PK.yaml
  src/apps/chatwoot/i18n/locales/pt-BR.yaml
  src/apps/chatwoot/i18n/locales/ru-RU.yaml
  src/apps/chatwoot/i18n/locales/tr-TR.yaml
  src/apps/chatwoot/i18n/locales/uk-UA.yaml
  src/apps/chatwoot/i18n/locales/ur-PK.yaml
  src/apps/chatwoot/i18n/locales/zh-CN.yaml
Due: lint, no-console-log

up: puppeter 25
  package.json
  yarn.lock
Due: no-console-log

up: chrome
  Dockerfile
Due: no-console-log

fix(chatwoot): synchronize native outbound delivery receipts
  src/apps/chatwoot/client/Conversation.ts
  src/apps/chatwoot/consumers/inbox/message_created.ts
  src/apps/chatwoot/consumers/inbox/message_updated.ts
  src/apps/chatwoot/consumers/scheduled/message.cleanup.ts
  src/apps/chatwoot/consumers/waha/base.ts
  src/apps/chatwoot/consumers/waha/message.ack.ts
  src/apps/chatwoot/consumers/waha/message.ack.utils.ts
  src/apps/chatwoot/di/DIContainer.ts
  src/apps/chatwoot/migrations/002_message_delivery_status.ts
  src/apps/chatwoot/services/MessageStatusService.ts
  src/apps/chatwoot/storage/MessageAckRepository.ts
  src/apps/chatwoot/storage/MessageMappingRepository.ts
  src/apps/chatwoot/storage/MessageMappingService.ts
  src/apps/chatwoot/storage/types.ts
Due: lint, no-console-log

fix(chatwoot): remove tier check messages from Chatwoot
  src/apps/chatwoot/services/ChatWootScheduleService.ts
Due: lint, no-console-log

chore: make link/unlink
  Makefile
Due: no-console-log

fix: parse invite code without query params
  src/core/abc/session.abc.test.ts
  src/core/abc/session.abc.ts
Due: lint, no-plus-in-core, no-console-log

up(WEBJS) - fix "POST /api/{session}/groups/join fails with joinGroupViaInvite is undefined" fix #2266
  yarn.lock
Due: no-console-log

chore: make rebuild-noweb
  Makefile
Due: no-console-log

fix: logger args
  src/apps/app_sdk/JobLoggerWrapper.ts
  src/core/media/local/MediaLocalStorage.ts
  src/main.ts
  src/modules/waha-maintain-online-status/MaintainOnlineStatusPlugin.ts
  src/nestjs/HttpsExpress.ts
Due: lint, no-plus-in-core, no-console-log

fix(NOWEB): fix media reupload - fix #2265
  src/core/engines/noweb/session.noweb.core.ts
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

up(NOWEB): fix thumbnails in history
  yarn.lock
Due: no-console-log

feat(chatwoot): sync message status (delivered/read) from WhatsApp acks
  src/apps/chatwoot/client/Conversation.ts
  src/apps/chatwoot/client/types.ts
  src/apps/chatwoot/consumers/inbox/message_created.ts
  src/apps/chatwoot/consumers/inbox/message_updated.ts
  src/apps/chatwoot/consumers/scheduled/message.cleanup.ts
  src/apps/chatwoot/consumers/waha/base.ts
  src/apps/chatwoot/consumers/waha/message.ack.ts
  src/apps/chatwoot/consumers/waha/message.ack.utils.test.ts
  src/apps/chatwoot/consumers/waha/message.ack.utils.ts
  src/apps/chatwoot/di/DIContainer.ts
  src/apps/chatwoot/dto/config.dto.ts
  src/apps/chatwoot/migrations/002_message_status.ts
  src/apps/chatwoot/services/ChatWootAppService.ts
  src/apps/chatwoot/services/MessageStatusService.ts
  src/apps/chatwoot/storage/MessageMappingRepository.ts
  src/apps/chatwoot/storage/MessageMappingService.ts
  src/apps/chatwoot/storage/WhatsAppAckRepository.ts
  src/apps/chatwoot/storage/index.ts
  src/apps/chatwoot/storage/types.ts
  src/utils/errors.ts
Due: lint, no-console-log

fix(openapi): tags for apps
  src/apps/argentine-phone-numbers/app.module.ts
  src/apps/brazilian-phone-numbers/app.module.ts
Due: lint, no-console-log

feat(apps): add mexican phone number apps
  src/apps/app_sdk/apps/apps.ts
  src/apps/app_sdk/apps/registry.ts
  src/apps/argentine-phone-numbers/app.module.ts
  src/apps/brazilian-phone-numbers/app.module.ts
  src/apps/mexican-phone-numbers/app.module.ts
  src/apps/mexican-phone-numbers/controller.ts
  src/apps/mexican-phone-numbers/dto.ts
  src/apps/mexican-phone-numbers/migrations/001_init_app.ts
  src/apps/mexican-phone-numbers/plugins/MexicanPhoneNumbers.test.ts
  src/apps/mexican-phone-numbers/rules/MexicanPhoneNumberRules.test.ts
  src/apps/mexican-phone-numbers/rules/MexicanPhoneNumberRules.ts
  src/apps/mexican-phone-numbers/services/MexicanPhoneNumbersAppService.ts
  src/apps/mexican-phone-numbers/storage/MexicanPhoneNumbersCacheRepository.ts
  src/apps/phone-numbers/storage/migrations_001_init_cache.test.ts
Due: lint, no-console-log

up: dashboard
  waha.config.json
Due: no-console-log

[core] docs: expose mentions in the OpenAPI spec - closes #2268
  src/structures/chatting.dto.ts
  src/structures/properties.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix(NOWEB): reuse original message id when deleting channel messages - fix #2038
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

Publish to DOCR instead of GHCR
  .github/workflows/ghcr.yaml
  .github/workflows/push-to-docr.yaml
Due: no-console-log

fix: remove vulnerable gows binary from image
  Dockerfile
Due: no-console-log

fix(NOWEB): fix deleting channel message - fix #2038 (#2284)
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

feat: groups share history mode - fix #2282
  src/api/groups.controller.ts
  src/apps/mcp/tools/groups.tools.ts
  src/apps/mcp/tools/groups.zod.ts
  src/core/abc/session.abc.ts
  src/core/engines/gows/grpc/gows.ts
  src/core/engines/gows/grpc/gows_grpc_pb.js
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/gows/types.group.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/engines/wpp/session.wpp.core.ts
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

fix(NOWEB): fix update contact - mention #2285
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

up(WEBJS): fix some modules
  yarn.lock
Due: no-console-log

up: WPP
  yarn.lock
Due: no-console-log

up(dashboard): fix refresh chat on new messages
  waha.config.json
Due: no-console-log

version: 2026.9.2
  src/version.ts
Due: lint, no-console-log

Path conditions:
  lint: any of: (?x)^(
    src/.*|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-plus-in-core: any of: (?x)^(
    src/api/.*|
    src/core/.*|
    src/structures/.*|
    src/config.service.ts|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-console-log: any of: not ((?x)^(
    entrypoint.sh|
    .pre-commit-config.yaml|
    ^src/core/engines/webjs/session.webjs.core.ts|
)$
), but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

