Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

lint:
  stages:
  - pre-commit
  name: lint
  language: system
  entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
  pass_filenames: false

no-plus-in-core:
  stages:
  - pre-commit
  name: No "plus" in core
  language: pygrep
  entry: plus

no-console-log:
  stages:
  - pre-commit
  name: No console.log() calls
  language: pygrep
  entry: console\.log

[core] fix delete message
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add location example
  src/structures/chatting.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add reply to for all messages
  src/api/chatting.controller.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/chatting.dto.ts
  src/structures/properties.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] NOWEB - Handle both format for reply_to - full and only message id
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add reply_to for incoming messages
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/message.dto.ts
  src/structures/properties.dto.ts
  src/structures/responses.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Comment this
  docker-compose.yaml
Due: no-console-log

[core] accept localhost url
  src/structures/webhooks.config.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] up dashboard
  Dockerfile
Due: no-console-log

[core] 2024.9.1
  src/version.ts
Due: lint, no-console-log

[core] Fix default session
  src/core/abc/manager.abc.ts
  src/core/manager.core.ts
  src/core/webhooks.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] dashboard
  Dockerfile
Due: no-console-log

[core] Cannot read properties of null (reading 'conversation')
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] 2024.9.2
  src/version.ts
Due: lint, no-console-log

[core] fix participant cus in reply
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix swagger
  src/api/chatting.controller.ts
  src/structures/base.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix swagger
  src/structures/chatting.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] no code
  src/nestjs/params/SessionApiParam.ts
Due: lint, no-console-log

[core] swagger auth channels fixes
  src/api/auth.controller.ts
  src/api/channels.controller.ts
  src/structures/auth.dto.ts
  src/structures/channels.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger chats
  src/api/chats.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger chatting
  src/api/chatting.controller.ts
  src/structures/chatting.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger contacts
  src/api/contacts.controller.ts
  src/structures/contacts.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger groups
  src/api/groups.controller.ts
  src/nestjs/params/ChatIdApiParam.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger health
  src/api/health.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger labels
  src/api/labels.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger ping
  src/api/ping.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger presence
  src/api/presence.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger server
  src/api/server.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger status
  src/api/status.controller.ts
  src/structures/status.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger version
  src/api/version.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger caption not required
  src/structures/chatting.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger caption not required
  src/structures/status.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger noweb store
  src/structures/sessions.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] swagger participants
  src/structures/groups.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] up NOWEB - end() issues
  yarn.lock
Due: no-console-log

[core] 2024.9.3
  src/version.ts
Due: lint, no-console-log

[core] up NOWEB
  yarn.lock
Due: no-console-log

[core] Fix operations for empty config sessions - local files
  src/core/storage/LocalSessionConfigRepository.ts
Due: lint, no-plus-in-core, no-console-log

[core] 2024.9.4
  src/version.ts
Due: lint, no-console-log

[core] fix mongodb
  src/api/sessions.controller.ts
Due: lint, no-plus-in-core, no-console-log

Path conditions:
  lint: any of: (?x)^(
    src/.*|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-plus-in-core: any of: (?x)^(
    src/api/.*|
    src/core/.*|
    src/structures/.*|
    src/config.service.ts|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-console-log: any of: not ((?x)^(
    entrypoint.sh|
    .pre-commit-config.yaml|
    ^src/core/engines/webjs/session.webjs.core.ts|
)$
), but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

