Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    ^src/dashboard/.*|
    ^src/core/engines/webjs/.*html|
    ^src/plus/engines/webjs/.*html
  )$

repos:
  - repo: local
    hooks:
      - id: commit-message-prefix
        name: Validate Commit Message for src/plus Changes
        entry: python ./.precommit/validate_commit_message.py
        language: python
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: lint
        stages: [pre-commit]
        name: lint
        language: system
        entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
        pass_filenames: false
        files: |
          (?x)^(
              src/.*|
          )$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.1.0'
    hooks:
      - id: prettier
        stages: [pre-commit]
        exclude: |
          (?x)^(
              docs/.*|
              README.md|
          )$
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        stages: [pre-commit]
        name: README.md
        files: ^README.md$
  - repo: local
    hooks:
      - id: no-plus-in-core
        stages: [pre-commit]
        name: No "plus" in core
        language: pygrep
        entry: 'plus'
        files: |
          (?x)^(
              src/api/.*|
              src/core/.*|
              src/structures/.*|
              src/config.service.ts|
          )$

  - repo: local
    hooks:
      - id: no-console-log
        stages: [pre-commit]
        name: No console.log() calls
        language: pygrep
        entry: 'console\.log'
        exclude: |
          (?x)^(
              entrypoint.sh|
              .pre-commit-config.yaml|
              ^src/core/engines/webjs/session.webjs.core.ts|
          )$

fix(NOWEB): fix delete channel message - fix #2038
  yarn.lock
Due: no-console-log

up: GOWS - v1.0.48
  waha.config.json
Due: no-console-log

fix(WEBJS): remove hide ux fresh look
  src/core/engines/webjs/WebjsClientCore.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

fix(WEBJS): hide "what's new" modal - use gating days
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

feat(NOWEB): expose group member-share-history-mode as a settable endpoint (#2283)
  src/api/groups.controller.ts
  src/core/abc/session.abc.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/structures/groups.dto.ts
Due: lint, no-plus-in-core, no-console-log

up(WEBJS): fix set push name
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

up(WEBJS): fix forward message - fix #2278
  yarn.lock
Due: no-console-log

version: 2026.10.1
  src/version.ts
Due: lint, no-console-log

up: GOWS v1.0.49
  waha.config.json
Due: no-console-log

[core] GOWS: send messages to broadcast lists (#468)
  src/api/chatting.controller.ts
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/engines/wpp/session.wpp.core.ts
  src/core/utils/broadcastLists.test.ts
  src/core/utils/broadcastLists.ts
  src/structures/chatting.dto.ts
  src/structures/properties.dto.ts
Due: lint, no-plus-in-core, no-console-log

feat: add wwebjs chat adapter and chat summary dto
  src/engine/adapters/wwebjs-chats.ts
  src/modules/session/dto/chat-summary.dto.ts
Due: lint, no-console-log

Address #1076: 💵 Bug Bounty – $1,000 if You Can Bypass WAHA API Key Validation
  docs/security/bounty-1076-api-key-hardening.md
  security/bounty-1076-api-key-hardening.md
Due: no-console-log

chore: api key must be string
  src/core/auth/ApiKeyAuthService.ts
  src/core/auth/HeaderOrQueryApiKeyStrategy.ts
  src/core/storage/mongo/MongoApiKeyRepository.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix(ws): keep the api key out of the websocket connection logs
  src/api/websocket.gateway.core.ts
  src/utils/logging.test.ts
  src/utils/logging.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix: give interactive and event messages a body
  src/core/engines/noweb/interactive.body.test.ts
  src/core/engines/noweb/interactive.body.ts
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix(events): validate the event inside an event message request
  src/structures/events.dto.test.ts
  src/structures/events.dto.ts
Due: lint, no-plus-in-core, no-console-log
