Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

lint:
  stages:
  - pre-commit
  name: lint
  language: system
  entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
  pass_filenames: false

no-plus-in-core:
  stages:
  - pre-commit
  name: No "plus" in core
  language: pygrep
  entry: plus

no-console-log:
  stages:
  - pre-commit
  name: No console.log() calls
  language: pygrep
  entry: console\.log

Añadir una línea en blanco para mejorar la legibilidad del script entrypoint.sh
  entrypoint.sh
Due: none

Convert key to Unix format in entrypoint.sh
  entrypoint.sh
Due: none

feat: Upload S3 media with public-read ACL and generate direct public URLs instead of presigned URLs.
  src/core/media/s3/MediaS3Storage.ts
Due: lint, no-plus-in-core, no-console-log

feat: Add `WAHA_S3_PUBLIC_URL` configuration to allow custom public domains for S3 media storage.
  src/core/media/s3/MediaS3Storage.ts
  src/core/media/s3/MediaS3StorageConfig.ts
Due: lint, no-plus-in-core, no-console-log

feat: improve sticker mimetype detection across engines and add a 10MB file size limit for S3 uploads.
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/media/s3/MediaS3Storage.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix GOWS chats/overview missing contact name and WEBJS presence with @lid
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix GOWS chats/overview: resolve LID to phone number (@c.us format)
  src/core/engines/gows/session.gows.core.ts
Due: lint, no-plus-in-core, no-console-log

feat: implement media sending for images, files, voice, and video in noweb session.
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

refactor: introduce `fileToWAMedia` to standardize media processing and update filename property in `sendFile`.
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

refactor: directly return sendMessage result without `toWAMessage` conversion in various send message methods.
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix OS and Node.js dependency vulnerabilities
  Dockerfile
  package.json
  yarn.lock
Due: no-console-log

Add Rust and Bun installation arguments to Dockerfile for improved build process
  Dockerfile
Due: no-console-log

Make parse method public in NOWEBPostgresKVRepository and set default value for sessionNamespace in LocalStoreCore constructor
  src/core/engines/noweb/store/postgres/NOWEBPostgresKVRepository.ts
  src/core/storage/LocalStoreCore.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix BR landline normalization in PhoneJidNormalizer
  src/core/utils/PhoneJidNormalizer.test.ts
  src/core/utils/PhoneJidNormalizer.ts
Due: lint, no-plus-in-core, no-console-log

fix(webjs): handle null chat in typing and seen endpoints (fixes #1970)
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

[core] exclude /jobs from global swagger basic auth
  src/core/SwaggerConfiguratorCore.ts
Due: lint, no-plus-in-core, no-console-log

[core] ChatWoot: conditional agent name prefix in WA to WhatsApp templates
  src/apps/chatwoot/i18n/locales/ar-AE.yaml
  src/apps/chatwoot/i18n/locales/bn-BD.yaml
  src/apps/chatwoot/i18n/locales/de-DE.yaml
  src/apps/chatwoot/i18n/locales/en-US.yaml
  src/apps/chatwoot/i18n/locales/es-ES.yaml
  src/apps/chatwoot/i18n/locales/fa-IR.yaml
  src/apps/chatwoot/i18n/locales/fr-FR.yaml
  src/apps/chatwoot/i18n/locales/he-IL.yaml
  src/apps/chatwoot/i18n/locales/hi-IN.yaml
  src/apps/chatwoot/i18n/locales/id-ID.yaml
  src/apps/chatwoot/i18n/locales/it-IT.yaml
  src/apps/chatwoot/i18n/locales/pa-PK.yaml
  src/apps/chatwoot/i18n/locales/pt-BR.yaml
  src/apps/chatwoot/i18n/locales/ru-RU.yaml
  src/apps/chatwoot/i18n/locales/tr-TR.yaml
  src/apps/chatwoot/i18n/locales/uk-UA.yaml
  src/apps/chatwoot/i18n/locales/ur-PK.yaml
  src/apps/chatwoot/i18n/locales/zh-CN.yaml
Due: lint, no-console-log

[core] add Chatwoot support for WhatsApp status replies
  src/apps/chatwoot/i18n/locales/ar-AE.yaml
  src/apps/chatwoot/i18n/locales/bn-BD.yaml
  src/apps/chatwoot/i18n/locales/de-DE.yaml
  src/apps/chatwoot/i18n/locales/en-US.yaml
  src/apps/chatwoot/i18n/locales/es-ES.yaml
  src/apps/chatwoot/i18n/locales/fa-IR.yaml
  src/apps/chatwoot/i18n/locales/fr-FR.yaml
  src/apps/chatwoot/i18n/locales/he-IL.yaml
  src/apps/chatwoot/i18n/locales/hi-IN.yaml
  src/apps/chatwoot/i18n/locales/id-ID.yaml
  src/apps/chatwoot/i18n/locales/it-IT.yaml
  src/apps/chatwoot/i18n/locales/pa-PK.yaml
  src/apps/chatwoot/i18n/locales/pt-BR.yaml
  src/apps/chatwoot/i18n/locales/ru-RU.yaml
  src/apps/chatwoot/i18n/locales/tr-TR.yaml
  src/apps/chatwoot/i18n/locales/uk-UA.yaml
  src/apps/chatwoot/i18n/locales/ur-PK.yaml
  src/apps/chatwoot/i18n/locales/zh-CN.yaml
  src/apps/chatwoot/i18n/templates.ts
  src/apps/chatwoot/messages/to/chatwoot/TextMessage.ts
Due: lint, no-console-log

[core] improve status reply media download for Chatwoot
  src/apps/chatwoot/consumers/waha/message.any.ts
  src/apps/chatwoot/messages/to/chatwoot/TextMessage.ts
Due: lint, no-console-log

fix(noweb): use stream mode for media download to fix 0-byte audio files
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

fix: prevent setTimeout overflow for large WHATSAPP_FILES_LIFETIME values
  src/core/media/local/MediaLocalStorage.ts
Due: lint, no-plus-in-core, no-console-log

feat: add forMe query param to DELETE /messages endpoint
  src/api/chats.controller.ts
  src/core/abc/session.abc.ts
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/chats.dto.ts
Due: lint, no-plus-in-core, no-console-log

[minimax] Phase 1 - Multi-account hosting: Critical bug fixes
  src/api/admin.controller.ts
  src/config.service.ts
  src/core/app.module.core.ts
  src/core/manager.core.ts
  src/core/storage/CoreApiKeyRepository.ts
Due: lint, no-plus-in-core, no-console-log

[minimax] Phase 2 - Storage backend abstraction
  src/config.service.ts
  src/core/storage/backends/IStorageBackend.ts
  src/core/storage/backends/PostgresStorageBackend.ts
  src/core/storage/backends/SqliteStorageBackend.ts
Due: lint, no-plus-in-core, no-console-log

[minimax] Phase 3 - Multi-tenancy abstraction
  src/api/apikeys.controller.ts
  src/core/storage/CoreApiKeyRepository.ts
  src/core/storage/IApiKeyRepository.ts
  src/core/tenants/ITenantRepository.ts
  src/core/tenants/Tenant.ts
  src/structures/apikeys.dto.ts
Due: lint, no-plus-in-core, no-console-log

[minimax] Phase 4 - Multi-session support for SessionManagerCore
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[minimax] Phase 5 - API layer for multi-tenancy
  src/api/tenants.controller.ts
  src/core/app.module.core.ts
  src/core/auth/ApiKeyService.ts
  src/core/auth/apiKey.strategy.ts
  src/core/auth/casl.ability.ts
  src/core/auth/casl.rules.ts
Due: lint, no-plus-in-core, no-console-log

[minimax] Add Dockerfile for local dist build and testing
  .playwright-mcp/page-2026-04-27T08-47-08-159Z.yml
  .playwright-mcp/page-2026-04-27T08-47-34-724Z.yml
  .playwright-mcp/page-2026-04-27T08-47-48-705Z.yml
  .playwright-mcp/page-2026-04-27T08-48-04-794Z.yml
  .playwright-mcp/page-2026-04-27T08-48-41-646Z.png
  .playwright-mcp/page-2026-04-27T08-52-54-893Z.yml
  .playwright-mcp/page-2026-04-27T08-58-34-505Z.yml
  .playwright-mcp/page-2026-04-27T08-58-50-082Z.yml
  .playwright-mcp/page-2026-04-27T08-59-59-867Z.yml
  .playwright-mcp/page-2026-04-27T09-01-23-742Z.yml
  .playwright-mcp/page-2026-04-27T09-01-34-951Z.yml
  .playwright-mcp/page-2026-04-27T09-01-49-903Z.yml
  .playwright-mcp/page-2026-04-27T09-01-58-678Z.png
  .playwright-mcp/page-2026-04-27T09-02-19-271Z.yml
  .playwright-mcp/page-2026-04-27T09-02-43-971Z.yml
  .playwright-mcp/page-2026-04-27T09-03-04-323Z.yml
  .playwright-mcp/page-2026-04-27T09-03-21-843Z.yml
  .playwright-mcp/page-2026-04-27T09-03-28-754Z.yml
  .playwright-mcp/page-2026-04-27T09-03-43-009Z.yml
  Dockerfile.minimax
  docker-compose.yaml
Due: no-console-log

Security: Fix SSRF vulnerability in media conversion endpoints
  src/utils/fetch.ts
Due: lint, no-console-log

Add GOWS VoIP call API, lifecycle events, and gows-plus test stack.
  Makefile
  docker-compose.gows-test.yaml
  src/api/calls.controller.ts
  src/core/abc/session.abc.ts
  src/core/engines/gows/GowsCallsClient.ts
  src/core/engines/gows/GowsSubprocess.ts
  src/core/engines/gows/session.gows.core.ts
  src/dashboard/.gitkeep
  src/structures/calls.dto.ts
  src/structures/enums.dto.ts
  src/structures/webhooks.dto.ts
Due: lint, no-plus-in-core, no-console-log

fix(GOWS): up engine. Fix channels link preview - mention #2163.
  waha.config.json
Due: no-console-log

chore(WEBJS): Up chrome 140.0.7339.207-1
  Dockerfile
Due: no-console-log

[core] Fix restartStoppedSessions aborting on one stuck session
  src/core/manager.core.ts
  src/core/utils/restartSessions.test.ts
  src/core/utils/restartSessions.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix internal self-calls failing when HTTP server binds to IPv6 only
  src/apps/app_sdk/waha/WAHASelf.ts
  src/apps/chatwoot/contacts/WhatsAppContactInfo.ts
  src/main.ts
Due: lint, no-console-log

[core] feat(NOWEB): expose group member-add-mode as a settable endpoint
  src/api/groups.controller.ts
  src/core/abc/session.abc.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/structures/groups.dto.ts
Due: lint, no-plus-in-core, no-console-log

feat: add RequestIdInterceptor and request ID generation utilities (#2176)
  src/core/app.module.core.ts
  src/nestjs/requestId.test.ts
  src/nestjs/requestId.ts
Due: lint, no-plus-in-core, no-console-log

[core] feat(GOWS): expose new-chat message capping (per-cycle quota)
  src/api/sessions.controller.ts
  src/apps/mcp/tools/sessions.tools.ts
  src/core/abc/MessageCappingTracker.ts
  src/core/abc/session.abc.ts
  src/core/engines/gows/capping.ts
  src/core/engines/gows/grpc/gows.ts
  src/core/engines/gows/grpc/gows_grpc_pb.js
  src/core/engines/gows/session.gows.core.ts
  src/structures/sessions.dto.ts
Due: lint, no-plus-in-core, no-console-log

fix webjs lid presence and pending sends
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/webjs/message-options.test.ts
  src/core/engines/webjs/message-options.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

Path conditions:
  lint: any of: (?x)^(
    src/.*|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-plus-in-core: any of: (?x)^(
    src/api/.*|
    src/core/.*|
    src/structures/.*|
    src/config.service.ts|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-console-log: any of: not ((?x)^(
    entrypoint.sh|
    .pre-commit-config.yaml|
    ^src/core/engines/webjs/session.webjs.core.ts|
)$
), but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

