Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

lint:
  stages:
  - pre-commit
  name: lint
  language: system
  entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
  pass_filenames: false

no-plus-in-core:
  stages:
  - pre-commit
  name: No "plus" in core
  language: pygrep
  entry: plus

no-console-log:
  stages:
  - pre-commit
  name: No console.log() calls
  language: pygrep
  entry: console\.log

Add GitHub Actions workflow for multi-arch Docker builds
  .github/workflows/docker-build.yml
Due: no-console-log

Fix GitHub Actions workflow matrix syntax error
  .github/workflows/docker-build.yml
Due: no-console-log

Fixed
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

Implement message deduplication to prevent duplicate webhooks in GOWS
  src/core/engines/gows/session.gows.core.ts
  src/core/utils/reactive.ts
Due: lint, no-plus-in-core, no-console-log

Add italian translation
  src/apps/chatwoot/i18n/locales/it-IT.yaml
Due: lint, no-console-log

feat(api): add reactions field to WAMessage and reactions endpoint
  src/api/chats.controller.ts
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/responses.dto.ts
Due: lint, no-plus-in-core, no-console-log

feat(core): expose archived, pinned, and unreadCount in ChatSummary
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/chats.dto.ts
Due: lint, no-plus-in-core, no-console-log

feat(chats): enhance ChatSummary DTO with additional metadata
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/chats.dto.ts
Due: lint, no-plus-in-core, no-console-log

feat: enable send media support for images, files, voice, and videos
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

Fixes #1763
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

Sidestep existing .env from being overwritten
  src/core/auth/config.ts
Due: lint, no-plus-in-core, no-console-log

Fix ChatWoot escaped newlines normalization
  src/apps/chatwoot/messages/to/whatsapp/markdown.test.ts
  src/apps/chatwoot/messages/to/whatsapp/markdown.ts
Due: lint, no-console-log

Allow configuring excluded engine events in GOWS
  src/core/engines/gows/session.gows.core.ts
  src/structures/sessions.dto.ts
Due: lint, no-plus-in-core, no-console-log

fix: include assignedWorker in session create/get response
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

feat: implement media sending (voice/video/image) and add GHCR build workflow
  .github/workflows/custom-build.yaml
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/media/IConverter.ts
  src/structures/files.dto.ts
Due: lint, no-plus-in-core, no-console-log

fix: use file output for video conversion to support faststart
  src/core/media/IConverter.ts
Due: lint, no-plus-in-core, no-console-log

feat: add persistent message scheduler and test UI
  nest-cli.json
  package.json
  src/core/app.module.core.ts
  src/core/scheduler/scheduler.controller.ts
  src/core/scheduler/scheduler.dto.ts
  src/core/scheduler/scheduler.repository.ts
  src/core/scheduler/scheduler.service.ts
  src/test-client/index.html
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

fix(docker): add rust/cargo to build stage for libsignal-node
  Dockerfile
Due: no-console-log

feat: add scheduler module and dashboard UI
  .gitignore
  nest-cli.json
  src/core/app.module.core.ts
  src/dashboard/index.html
  src/test-client/index.html
Due: lint, no-plus-in-core, no-console-log

refactor: group scheduler endpoints under 'Chatting' tag
  src/core/scheduler/scheduler.controller.ts
Due: lint, no-plus-in-core, no-console-log

fix(docker): add protobuf-compiler and libssl-dev to build stage
  Dockerfile
Due: no-console-log

fix(dashboard): add API Key support to scheduler UI
  src/dashboard/scheduler.html
Due: none

fix(dashboard): sync scheduler API key with main dashboard configuration
  src/dashboard/scheduler.html
Due: none

fix(scheduler): add result logging to debug message delivery
  src/core/scheduler/scheduler.service.ts
Due: lint, no-plus-in-core, no-console-log

feat(dashboard): add file upload support to scheduler UI
  src/dashboard/scheduler.html
Due: none

feat(dashboard): align scheduler UI with dashboard design using PrimeVue
  src/dashboard/scheduler.html
Due: none

fix(docker): add cmake to build stage for libsignal-node compilation
  Dockerfile
Due: no-console-log

fix(dashboard): resolve transparent dropdown issue in scheduler UI
  src/dashboard/scheduler.html
Due: none

style(dashboard): improve scheduler UI typography and button sizing
  src/dashboard/scheduler.html
Due: none

feat(dashboard): add drag-and-drop file upload to scheduler UI
  src/dashboard/scheduler.html
Due: none

feat(dashboard): auto-detect message type from file upload or URL
  src/dashboard/scheduler.html
Due: none

feat(scheduler): implement job history and audit log
  src/core/scheduler/scheduler.controller.ts
  src/core/scheduler/scheduler.repository.ts
  src/core/scheduler/scheduler.service.ts
  src/dashboard/scheduler.html
Due: lint, no-plus-in-core, no-console-log

feat(dashboard): implement bulk campaign scheduling with CSV support
  src/dashboard/scheduler.html
Due: none

docs: update README with new image path and scheduler features
  README.md
Due: no-console-log

fix(dashboard): resolve scheduler UI issues and improve usability
  src/dashboard/scheduler.html
Due: none

fix(dashboard): resolve scheduler UI dropdown issues
  src/dashboard/scheduler.html
Due: none

fix(dashboard): resolve persistent dropdown transparency issues
  src/dashboard/scheduler.html
Due: none

[core] fix(webjs): resolve lid for chat lookups
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

[core] fix scheduler dropdown overlay background and z-index
  src/dashboard/scheduler.html
Due: none

Path conditions:
  lint: any of: (?x)^(
    src/.*|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-plus-in-core: any of: (?x)^(
    src/api/.*|
    src/core/.*|
    src/structures/.*|
    src/config.service.ts|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-console-log: any of: not ((?x)^(
    entrypoint.sh|
    .pre-commit-config.yaml|
    ^src/core/engines/webjs/session.webjs.core.ts|
)$
), but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

