Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    ^src/dashboard/.*|
    ^src/core/engines/webjs/.*html|
    ^src/plus/engines/webjs/.*html
  )$

repos:
  - repo: local
    hooks:
      - id: commit-message-prefix
        name: Validate Commit Message for src/plus Changes
        entry: python ./.precommit/validate_commit_message.py
        language: python
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: lint
        stages: [pre-commit]
        name: lint
        language: system
        entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
        pass_filenames: false
        files: |
          (?x)^(
              src/.*|
          )$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.1.0'
    hooks:
      - id: prettier
        stages: [pre-commit]
        exclude: |
          (?x)^(
              docs/.*|
              README.md|
          )$
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        stages: [pre-commit]
        name: README.md
        files: ^README.md$
  - repo: local
    hooks:
      - id: no-plus-in-core
        stages: [pre-commit]
        name: No "plus" in core
        language: pygrep
        entry: 'plus'
        files: |
          (?x)^(
              src/api/.*|
              src/core/.*|
              src/structures/.*|
              src/config.service.ts|
          )$

  - repo: local
    hooks:
      - id: no-console-log
        stages: [pre-commit]
        name: No console.log() calls
        language: pygrep
        entry: 'console\.log'
        exclude: |
          (?x)^(
              entrypoint.sh|
              .pre-commit-config.yaml|
              ^src/core/engines/webjs/session.webjs.core.ts|
          )$

[core] n8n docker-compose
  docker-compose.n8n.yaml
Due: no-console-log

[core] remove session run time
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] gitignore heapsnapshot
  .gitignore
Due: no-console-log

[core] WAHA_LOG_FORMAT=JSON in examples
  docker-compose.yaml
  scripts/waha-run.sh
Due: no-console-log

[core] force null timeout and interval
  src/utils/SingleDelayedJobRunner.ts
  src/utils/SinglePeriodicJobRunner.ts
Due: lint, no-console-log

[core] Add /api/server/debug/heapsnapshot
  src/api/server.controller.ts
  src/config.service.ts
  src/core/app.module.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] set timeout null at finally
  src/utils/SingleDelayedJobRunner.ts
Due: lint, no-console-log

[core] remove listeners
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Up nodejs 20.17.0
  .nvmrc
  Dockerfile
Due: no-console-log

[core] Add corepack
  Dockerfile
Due: no-console-log

[core] YARN_CHECKSUM_BEHAVIOR=update
  Dockerfile
Due: no-console-log

[core] use node dist/main
  entrypoint.sh
Due: none

[core] accept phone as chatId in typing and presense
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] log stack
  src/main.ts
Due: lint, no-console-log

[core] remove VENOM
  package.json
  src/core/engines/venom/session.venom.core.ts
  src/core/manager.core.ts
  src/structures/enums.dto.ts
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

[core] node 22.8
  .nvmrc
  Dockerfile
Due: no-console-log

[core] WEBJS optimizations
  src/core/abc/session.abc.ts
Due: lint, no-plus-in-core, no-console-log

[core] Show better error for screenshot
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] 2024.9.5
  src/version.ts
Due: lint, no-console-log

[core] Up dashboard
  Dockerfile
Due: no-console-log

[core] Add /api/server/stop response
  src/api/server.controller.ts
  src/structures/server.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] rm manual-push.yaml
  .github/workflows/manual-push.yaml
Due: no-console-log

[core] adjust build matrix
  .github/workflows/build.yaml
Due: no-console-log

[TODO] TODO: REMOVE ME - run github actions in smoke-tests
  .github/workflows/build.yaml
Due: no-console-log

[core] add goss
  .github/workflows/build.yaml
  tests/smoke/goss.yaml
  tests/smoke/goss_wait.yaml
Due: no-console-log

[core] sleep, docker logs
  .github/workflows/build.yaml
Due: no-console-log

[core] rm GOSS_PATH
  .github/workflows/build.yaml
Due: no-console-log

rm .yarnrc.yml
  .yarnrc.yml
Due: no-console-log

Revert "rm .yarnrc.yml"
  .yarnrc.yml
Due: no-console-log

add yarn/releases
  .pre-commit-config.yaml
  .yarn/releases/yarn-3.6.3.cjs
Due: no-console-log

[core] FROM ... AS ...
  Dockerfile
Due: no-console-log

[core] log exact error
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Put dashboard first
  src/core/SwaggerConfiguratorCore.ts
Due: lint, no-plus-in-core, no-console-log

[core] TZ
  docker-compose.yaml
Due: no-console-log

[core] Issue STARTING status in NOWEB on auto restarts
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log
