Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    ^src/dashboard/.*|
    ^src/core/engines/webjs/.*html|
    ^src/plus/engines/webjs/.*html
  )$

repos:
  - repo: local
    hooks:
      - id: commit-message-prefix
        name: Validate Commit Message for src/plus Changes
        entry: python ./.precommit/validate_commit_message.py
        language: python
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: lint
        stages: [pre-commit]
        name: lint
        language: system
        entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
        pass_filenames: false
        files: |
          (?x)^(
              src/.*|
          )$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.1.0'
    hooks:
      - id: prettier
        stages: [pre-commit]
        exclude: |
          (?x)^(
              docs/.*|
              README.md|
          )$
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        stages: [pre-commit]
        name: README.md
        files: ^README.md$
  - repo: local
    hooks:
      - id: no-plus-in-core
        stages: [pre-commit]
        name: No "plus" in core
        language: pygrep
        entry: 'plus'
        files: |
          (?x)^(
              src/api/.*|
              src/core/.*|
              src/structures/.*|
              src/config.service.ts|
          )$

  - repo: local
    hooks:
      - id: no-console-log
        stages: [pre-commit]
        name: No console.log() calls
        language: pygrep
        entry: 'console\.log'
        exclude: |
          (?x)^(
              entrypoint.sh|
              .pre-commit-config.yaml|
              ^src/core/engines/webjs/session.webjs.core.ts|
          )$

[core] move docker-compose to docker-compose
  docker-compose/n8n/docker-compose.yaml
  docker-compose/test/docker-compose.yaml
Due: no-console-log

[core] engine info only in GET /api/sessions/{name}
  src/api/sessions.controller.ts
  src/core/abc/manager.abc.ts
  src/core/manager.core.ts
  src/structures/sessions.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix clearInterval on WebsocketHeartbeatJob.ts
  src/core/api/websocket.gateway.core.ts
  src/nestjs/ws/WebsocketHeartbeatJob.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix default session behavior
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix api in example
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] wait check session in the right status
  src/api/auth.controller.ts
  src/api/channels.controller.ts
  src/api/chats.controller.ts
  src/api/chatting.controller.ts
  src/api/contacts.controller.ts
  src/api/groups.controller.ts
  src/api/labels.controller.ts
  src/api/presence.controller.ts
  src/api/sessions.controller.ts
  src/api/status.controller.ts
  src/core/abc/manager.abc.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/nestjs/params/SessionApiParam.ts
  src/nestjs/pipes/SessionPipe.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix error message
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] me for stopped sessions
  src/core/abc/DataStore.ts
  src/core/abc/manager.abc.ts
  src/core/engines/noweb/store/Schema.ts
  src/core/engines/noweb/store/sqlite3/NOWEBSqlite3KVRepository.ts
  src/core/engines/noweb/store/sqlite3/Sqlite3ChatRepository.ts
  src/core/engines/noweb/store/sqlite3/Sqlite3ContactRepository.ts
  src/core/engines/noweb/store/sqlite3/Sqlite3LabelAssociationsRepository.ts
  src/core/engines/noweb/store/sqlite3/Sqlite3LabelsRepository.ts
  src/core/engines/noweb/store/sqlite3/Sqlite3MessagesRepository.ts
  src/core/engines/noweb/store/sqlite3/Sqlite3SchemaValidation.ts
  src/core/engines/noweb/store/sqlite3/Sqlite3Storage.ts
  src/core/storage/ISessionMeRepository.ts
  src/core/storage/LocalSessionMeRepository.ts
  src/core/storage/LocalStore.ts
  src/core/storage/LocalStoreCore.ts
  src/core/storage/sqlite3/Schema.ts
  src/core/storage/sqlite3/Sqlite3KVRepository.ts
  src/structures/webhooks.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Update dashboard
  Dockerfile
Due: no-console-log

[core] WEBJS pairing code
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

[core] fix auto restart issues - NOWEB, WEBJS
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] 2024.9.6
  src/version.ts
Due: lint, no-console-log

[core] markOnline NOWEB
  src/core/engines/noweb/session.noweb.core.ts
  src/structures/sessions.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] update dashboard
  Dockerfile
Due: no-console-log

[core] add PORT for heroku support
  src/config.service.ts
Due: lint, no-plus-in-core, no-console-log

[core] add WAHA_BASE_URL to override media URLs
  src/config.service.ts
  src/core/media/local/MediaLocalStorageConfig.ts
Due: lint, no-plus-in-core, no-console-log

[core] Receive media in WAHA Core
  src/core/app.module.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/manager.core.ts
  src/core/media/MediaManager.ts
  src/core/media/MediaManagerCore.ts
  src/core/media/MediaNoopStorage.ts
  src/core/media/MediaStorageFactory.ts
  src/core/media/local/MediaLocalStorage.ts
  src/core/media/local/MediaLocalStorageFactory.ts
  src/core/media/local/media.local.storage.module.ts
Due: lint, no-plus-in-core, no-console-log

[core] Ignore pycache
  .gitignore
Due: no-console-log

[core] Use axios
  package.json
  src/core/abc/webhooks.abc.ts
  src/core/webhooks.core.ts
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

[core] WEBJS restart session on WAState.OPENING
  src/core/engines/webjs/session.webjs.core.ts
  src/utils/SingleDelayedJobRunner.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add message.waiting event
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/enums.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Up NOWEB
  yarn.lock
Due: no-console-log

[core] Up WEBJS
  Makefile
  package.json
  yarn.lock
Due: no-console-log

[core] WEBJS - cancel check engine state job
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

[core] jobs - do not log if it's not started
  src/utils/SingleDelayedJobRunner.ts
  src/utils/SinglePeriodicJobRunner.ts
Due: lint, no-console-log

[core] 2024.10.1
  src/version.ts
Due: lint, no-console-log

[core] Allow to stop sessions even with no config
  src/api/sessions.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] Move lock to SessionManager
  src/api/sessions.controller.ts
  src/core/abc/manager.abc.ts
Due: lint, no-plus-in-core, no-console-log

[core] protected
  src/core/abc/manager.abc.ts
Due: lint, no-plus-in-core, no-console-log

[core] Split .env
  .env
  docker-compose.yaml
Due: no-console-log

[core] Adjust .env
  .env
Due: no-console-log

[core] Do not expose by default
  docker-compose.yaml
Due: no-console-log

[core] no ssl
  docker-compose.yaml
Due: no-console-log

[core] fix .env
  .env
Due: no-console-log

[core] comment mongo and minio
  docker-compose.yaml
Due: no-console-log

[core] comment mongo and minio
  .env
  docker-compose.yaml
Due: no-console-log

[core] log errors during periodic and one time jobs
  src/utils/SingleDelayedJobRunner.ts
  src/utils/SinglePeriodicJobRunner.ts
Due: lint, no-console-log
