Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    ^src/dashboard/.*|
    ^src/core/engines/webjs/.*html|
    ^src/plus/engines/webjs/.*html
  )$

repos:
  - repo: local
    hooks:
      - id: commit-message-prefix
        name: Validate Commit Message for src/plus Changes
        entry: python ./.precommit/validate_commit_message.py
        language: python
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: lint
        stages: [pre-commit]
        name: lint
        language: system
        entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
        pass_filenames: false
        files: |
          (?x)^(
              src/.*|
          )$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.1.0'
    hooks:
      - id: prettier
        stages: [pre-commit]
        exclude: |
          (?x)^(
              docs/.*|
              README.md|
          )$
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        stages: [pre-commit]
        name: README.md
        files: ^README.md$
  - repo: local
    hooks:
      - id: no-plus-in-core
        stages: [pre-commit]
        name: No "plus" in core
        language: pygrep
        entry: 'plus'
        files: |
          (?x)^(
              src/api/.*|
              src/core/.*|
              src/structures/.*|
              src/config.service.ts|
          )$

  - repo: local
    hooks:
      - id: no-console-log
        stages: [pre-commit]
        name: No console.log() calls
        language: pygrep
        entry: 'console\.log'
        exclude: |
          (?x)^(
              entrypoint.sh|
              .pre-commit-config.yaml|
              ^src/core/engines/webjs/session.webjs.core.ts|
          )$

[core] fix scheduler dropdown with MutationObserver fallback
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler dropdown using panel-class prop
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler dropdown - use CDN theme
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - replace PrimeVue dropdowns with native selects
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler dark theme for inputs, calendar, cards
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler inputs dark theme and file upload
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler SelectButton dark theme
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - universal input dark theme
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler sidebar layout overlap
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - wider sidebar and modern borderless cards
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - wider sidebar 320px and more card padding
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - modern button styling and sidebar input width
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - use custom class for main action button
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - Start Campaign button and toast styling
  src/dashboard/scheduler.html
Due: none

[core] fix scheduler - handle missing attachment in getPayload
  src/dashboard/scheduler.html
Due: none

[core] fix: harden auth middleware, WebSocket guard, and policies guard
  src/api/websocket.gateway.core.ts
  src/core/auth/api-key-auth.middleware.ts
  src/core/auth/policies.guard.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix: strip escaped newlines from ChatWoot v4.10.1+ messages
  src/apps/chatwoot/messages/to/whatsapp/markdown.test.ts
  src/apps/chatwoot/messages/to/whatsapp/markdown.ts
Due: lint, no-console-log

feat: enable multi-session management
  docker-compose.yaml
  src/core/app.module.core.ts
  src/core/manager.multiple.ts
Due: lint, no-plus-in-core, no-console-log

build: remove browser installation and default engine to NOWEB
  Dockerfile
Due: no-console-log

feat: Implement PostgreSQL storage and authentication for the noweb engine.
  build_output.txt
  src/core/engines/noweb/NowebAuthFactoryCore.ts
  src/core/engines/noweb/store/NowebStorageFactoryCore.ts
  src/core/engines/noweb/store/postgres/NOWEBPostgresKVRepository.ts
  src/core/engines/noweb/store/postgres/PostgresChatRepository.ts
  src/core/engines/noweb/store/postgres/PostgresContactRepository.ts
  src/core/engines/noweb/store/postgres/PostgresGroupRepository.ts
  src/core/engines/noweb/store/postgres/PostgresLabelAssociationsRepository.ts
  src/core/engines/noweb/store/postgres/PostgresLabelsRepository.ts
  src/core/engines/noweb/store/postgres/PostgresLidPNRepository.ts
  src/core/engines/noweb/store/postgres/PostgresMessagesRepository.ts
  src/core/engines/noweb/store/postgres/PostgresStorage.ts
  src/core/engines/noweb/store/postgres/usePostgresAuthState.ts
  src/core/manager.multiple.ts
  src/core/storage/PostgresStore.ts
  src/core/storage/PostgresStoreCore.ts
  src/core/storage/postgres/PostgresJSONQuery.ts
  src/core/storage/postgres/PostgresKVRepository.ts
  src/core/storage/postgres/PostgresSessionAuthRepository.ts
Due: lint, no-plus-in-core, no-console-log

feat: Enhance Postgres storage configuration with URL support and automatic selection, improve error logging, and update Docker Compose networking.
  docker-compose.yaml
  src/core/engines/noweb/store/postgres/PostgresStorage.ts
  src/core/manager.multiple.ts
  src/core/storage/PostgresStore.ts
  src/nestjs/HttpsExpress.ts
Due: lint, no-plus-in-core, no-console-log

feat: Implement dynamic storage selection between SQLite and PostgreSQL, including database migrations for Postgres tables.
  src/core/manager.core.ts
  src/core/storage/PostgresStore.ts
Due: lint, no-plus-in-core, no-console-log

feat: Add `docker-compose.dev.yml` to provide a local PostgreSQL service for development environments.
  docker-compose.dev.yml
Due: no-console-log

feat: Update `waha_auth` table schema to use a composite primary key and add a migration to drop the old schema.
  src/core/engines/noweb/store/postgres/PostgresStorage.ts
  src/core/storage/PostgresStore.ts
Due: lint, no-plus-in-core, no-console-log

feat: Deserialize authentication state using `BufferJSON.reviver` and add error handling to the state reading function.
  src/core/engines/noweb/store/postgres/usePostgresAuthState.ts
Due: lint, no-plus-in-core, no-console-log

update
  src/core/engines/noweb/store/postgres/usePostgresAuthState.ts
Due: lint, no-plus-in-core, no-console-log

fix: Correct Buffer serialization and deserialization for Postgres auth state using a custom reviver and explicit JSONB casting.
  package.json
  src/core/app.module.core.ts
  src/core/media/s3/MediaS3Storage.ts
  src/core/media/s3/MediaS3StorageConfig.ts
  src/core/media/s3/MediaS3StorageFactory.ts
  src/core/media/s3/media.s3.controller.ts
  src/core/media/s3/media.s3.storage.module.ts
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

refactor: implement structured logging, update tsconfig, and remove GOWS/Dashboard Docker build steps.
  Dockerfile
  src/apps/app_sdk/JobLoggerWrapper.ts
  src/core/abc/session.abc.ts
  src/core/engines/gows/GowsEventStreamObservable.ts
  src/core/media/local/MediaLocalStorage.ts
  src/main.ts
  tsconfig.json
Due: lint, no-plus-in-core, no-console-log

feat: Add a multi-stage build to download and include the WAHA dashboard application.
  Dockerfile
Due: no-console-log

Fix apps GET/PUT/DELETE 403 by adding CheckPolicies guard
  src/apps/app_sdk/api/apps.controller.ts
Due: lint, no-console-log

feat: Implement dedicated SQL and Postgres repositories for session configuration persistence in ManagerCore.
  src/core/manager.core.ts
  src/core/storage/postgres/PostgresSessionConfigRepository.ts
  src/core/storage/sql/SqlSessionConfigRepository.ts
  test-config.js
  test-config.ts
Due: lint, no-plus-in-core, no-console-log

feat: Update @adiwajshing/baileys to 7.0.0-rc.9, modifying package dependencies, TypeScript configuration, and Chatwoot event message processing.
  package.json
  patches/@adiwajshing+baileys+7.0.0-rc.9.patch
  src/apps/chatwoot/messages/to/chatwoot/EventMessage.ts
  tsc_output.txt
  tsc_output_2.txt
  tsconfig.json
Due: lint, no-console-log

build: Exclude `@adiwajshing/baileys/src` from TypeScript compilation.
  tsconfig.json
Due: no-console-log

Refactor: Streamline Dockerfile dependency installation by adding all app files before running `yarn install`.
  Dockerfile
Due: no-console-log

update
  package.json
  yarn.lock
Due: no-console-log

up
  tsconfig.build.json
  tsconfig.build.tsbuildinfo
Due: no-console-log

refactor: Simplify build configuration and ensure correct `dist` output structure.
  Dockerfile
  tsconfig.build.json
Due: no-console-log

Update manager.core.ts
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

refactor: Persist session configurations using a dedicated repository instead of file-system scanning.
  src/core/manager.multiple.ts
Due: lint, no-plus-in-core, no-console-log

Refactor code structure for improved readability and maintainability
  Dockerfile
  Dockerfile.orig
  src/core/engines/webjs/session.webjs.core.ts
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log
