Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

lint:
  stages:
  - pre-commit
  name: lint
  language: system
  entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
  pass_filenames: false

no-plus-in-core:
  stages:
  - pre-commit
  name: No "plus" in core
  language: pygrep
  entry: plus

no-console-log:
  stages:
  - pre-commit
  name: No console.log() calls
  language: pygrep
  entry: console\.log

[core] update mongodb driver
  package.json
  yarn.lock
Due: no-console-log

[core] Close store properly at the end
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] 2024.10.2
  src/version.ts
Due: lint, no-console-log

[core] Up dashboard
  Dockerfile
Due: no-console-log

.env.example
  .env.example
  .gitignore
Due: no-console-log

[core] Add more logging in WEBJS
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

[core] 2024.10.3
  src/version.ts
Due: lint, no-console-log

[core] Update NOWEB
  Makefile
  package.json
  yarn.lock
Due: no-console-log

[core] NOWEB - reuse store
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] NOWEB - save creds before stopping the session
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] send SIGTERM
  src/api/server.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] Log signals
  src/main.ts
Due: lint, no-console-log

[core] no get app anymore
  docker-compose.yaml
  src/main.ts
Due: lint, no-console-log

[core] enable hooks before start listening
  src/main.ts
Due: lint, no-console-log

[core] exec node dist/main
  entrypoint.sh
Due: none

[core] 2024.10.4
  src/version.ts
Due: lint, no-console-log

[core] stop all jobs before saving creds
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] always
  docker-compose.yaml
Due: no-console-log

[core] wait 10 seconds and stop
  src/api/server.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add waha logo in examples
  examples/waha.jpg
Due: no-console-log

[core] typo
  src/api/sessions.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] Move config to SessionManager
  src/core/abc/manager.abc.ts
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Move log to SessionManager
  src/core/abc/manager.abc.ts
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Move startPredefinedSessions to SessionManager
  src/core/abc/manager.abc.ts
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Do not check current session status
  src/api/sessions.controller.ts
Due: lint, no-plus-in-core, no-console-log

[core] Use Sqlite3SchemaValidation for me repo
  src/core/storage/LocalSessionMeRepository.ts
Due: lint, no-plus-in-core, no-console-log

[core] docker-compose.workers.yaml
  docker-compose.workers.yaml
Due: no-console-log

[core] move docker-compose workers
  docker-compose/docker-compose.workers.yaml
Due: no-console-log

[core] Restore sessions
  src/api/server.controller.ts
  src/api/sessions.controller.ts
  src/config.service.ts
  src/core/abc/manager.abc.ts
  src/core/storage/ISessionWorkerRepository.ts
  src/core/storage/LocalSessionWorkerRepository.ts
  src/structures/server.dto.ts
  src/structures/sessions.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] no RESTART_ALL by default
  .env.example
  docker-compose/n8n/docker-compose.yaml
  docker-compose/test/docker-compose.yaml
  scripts/waha-run.sh
Due: no-console-log

[core] Dashboard at the top
  src/core/SwaggerConfiguratorCore.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add request id for webhooks in logs
  src/core/webhooks.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] add asNote for /api/sendVideo
  src/structures/chatting.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Use waha logo
  src/structures/files.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Forward message
  src/api/chatting.controller.ts
  src/core/abc/session.abc.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/chatting.dto.ts
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

[core] Set FAILED before end
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] delay policy
  src/structures/webhooks.config.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Button messages
  src/api/chatting.controller.ts
  src/core/abc/session.abc.ts
  src/core/engines/noweb/noweb.buttons.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/exceptions.ts
  src/structures/chatting.buttons.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix NOWEB stuck in STARTING
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] WEBJS - handle possible stuck STARTING
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core

Path conditions:
  lint: any of: (?x)^(
    src/.*|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-plus-in-core: any of: (?x)^(
    src/api/.*|
    src/core/.*|
    src/structures/.*|
    src/config.service.ts|
)$
, but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

  no-console-log: any of: not ((?x)^(
    entrypoint.sh|
    .pre-commit-config.yaml|
    ^src/core/engines/webjs/session.webjs.core.ts|
)$
), but not: (?x)^(
  ^src/dashboard/.*|
  ^src/core/engines/webjs/.*html|
  ^src/plus/engines/webjs/.*html
)$

