Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    ^src/dashboard/.*|
    ^src/core/engines/webjs/.*html|
    ^src/plus/engines/webjs/.*html
  )$

repos:
  - repo: local
    hooks:
      - id: commit-message-prefix
        name: Validate Commit Message for src/plus Changes
        entry: python ./.precommit/validate_commit_message.py
        language: python
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: lint
        stages: [pre-commit]
        name: lint
        language: system
        entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
        pass_filenames: false
        files: |
          (?x)^(
              src/.*|
          )$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.1.0'
    hooks:
      - id: prettier
        stages: [pre-commit]
        exclude: |
          (?x)^(
              docs/.*|
              README.md|
          )$
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        stages: [pre-commit]
        name: README.md
        files: ^README.md$
  - repo: local
    hooks:
      - id: no-plus-in-core
        stages: [pre-commit]
        name: No "plus" in core
        language: pygrep
        entry: 'plus'
        files: |
          (?x)^(
              src/api/.*|
              src/core/.*|
              src/structures/.*|
              src/config.service.ts|
          )$

  - repo: local
    hooks:
      - id: no-console-log
        stages: [pre-commit]
        name: No console.log() calls
        language: pygrep
        entry: 'console\.log'
        exclude: |
          (?x)^(
              entrypoint.sh|
              .pre-commit-config.yaml|
              ^src/core/engines/webjs/session.webjs.core.ts|
          )$

fix webjs presence bridge compatibility
  src/core/engines/webjs/WebjsClientCore.test.ts
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

fix presence bridge method selection
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

fix presence evaluate arguments
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

fix webjs user presence lid conversion
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

preserve lid for webjs presence subscription
  src/core/engines/webjs/WebjsClientCore.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

fix: [core] use phone sender for direct LID chats
  package.json
  yarn.lock
Due: no-console-log

fix: expose WebJS message send failure details
  src/core/engines/webjs/ack.webjs.test.ts
  src/core/engines/webjs/ack.webjs.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/responses.dto.ts
  src/structures/webhooks.dto.ts
Due: lint, no-plus-in-core, no-console-log

fix: improve WebJS LID sends and failure diagnostics
  package.json
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/webjs/WebjsClientCore.test.ts
  src/core/engines/webjs/WebjsClientCore.ts
  src/core/engines/webjs/ack.webjs.test.ts
  src/core/engines/webjs/ack.webjs.ts
  src/core/engines/webjs/message-options.test.ts
  src/core/engines/webjs/message-options.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/responses.dto.ts
  src/structures/webhooks.dto.ts
  yarn.lock
Due: lint, no-plus-in-core, no-console-log

[core] Add WAHA_NOWEB_WA_VERSION env var to override Baileys WA version
  src/core/app.module.core.ts
  src/core/config/NowebEngineConfigService.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/manager.core.ts
Due: lint, no-plus-in-core, no-console-log

fix(NOWEB): resolve WhatsApp Web version instead of using the stale bundled default
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/noweb/utils.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add POST /api/sendSticker for GOWS engine
  src/api/chatting.controller.ts
  src/apps/app_sdk/waha/WAHASelf.ts
  src/core/abc/session.abc.ts
  src/core/engines/gows/grpc/gows.ts
  src/core/engines/gows/grpc/gows_grpc_pb.js
  src/core/engines/gows/grpc/gows_pb.js
  src/core/engines/gows/session.gows.core.ts
  src/core/media/WAMimeType.ts
  src/structures/chatting.dto.ts
  src/structures/files.dto.ts
  waha.config.json
Due: lint, no-plus-in-core, no-console-log

[core] fix(Chatwoot): sanitize attachment base64 content in consumer returnvalue
  src/apps/chatwoot/consumers/waha/base.test.ts
  src/apps/chatwoot/consumers/waha/base.ts
Due: lint, no-console-log

[core] NOWEB: surface 463 account restriction as message.ack feedback
  src/core/abc/session.abc.ts
  src/core/engines/noweb/restriction.test.ts
  src/core/engines/noweb/restriction.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/manager.core.ts
  src/structures/sessions.dto.ts
  src/structures/webhooks.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix NOWEB group leave webhook LID matching
  src/core/engines/noweb/groups.noweb.test.ts
  src/core/engines/noweb/groups.noweb.ts
Due: lint, no-plus-in-core, no-console-log

[core] CI: publish Docker images to GHCR
  .github/workflows/build.yaml
  .github/workflows/dev.yaml
Due: no-console-log

[core] Fix Chrome build - pinned deb 404s after Google purges the pool
  Dockerfile
Due: no-console-log

[core] feat(WEBJS): add group membership approval API
  src/api/groups.controller.ts
  src/core/abc/session.abc.ts
  src/core/engines/webjs/groups.webjs.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/enums.dto.ts
  src/structures/groups.dto.ts
  src/structures/groups.events.dto.ts
  src/structures/groups.webhooks.dto.ts
  src/structures/webhooks.ts
Due: lint, no-plus-in-core, no-console-log

[core] fix: honour downloadMedia=true when media download is disabled
  src/config.service.ts
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/engines/wpp/session.wpp.core.ts
  src/core/media/IMediaManager.ts
  src/core/media/MediaManager.ts
Due: lint, no-plus-in-core, no-console-log

fix(s3): set ContentType on uploaded media objects
  src/core/media/IMediaStorage.ts
  src/core/media/MediaManager.ts
  src/core/media/s3/MediaS3Storage.ts
Due: lint, no-plus-in-core, no-console-log

#71226 fix: GOWS reporta conta restrita via ACK assincrono, mesmo padrao do NOWEB
  src/core/engines/gows/session.gows.core.ts
Due: lint, no-plus-in-core, no-console-log

fix(proxy): honor HTTP(S)_PROXY when downloading media
  src/main.ts
Due: lint, no-console-log

[core] feat: opt-in Prometheus GET /metrics
  package.json
  src/api/metrics.controller.test.ts
  src/api/metrics.controller.ts
  src/core/app.module.core.ts
  src/core/metrics/prometheus.registry.test.ts
  src/core/metrics/prometheus.registry.ts
Due: lint, no-plus-in-core, no-console-log

[core] chore: lock prom-client in yarn.lock
  yarn.lock
Due: no-console-log

[core] feat: Prometheus registry, config flag, swagger exclude
  .env.example
  src/api/metrics.controller.test.ts
  src/api/metrics.controller.ts
  src/config.service.test.ts
  src/config.service.ts
  src/core/SwaggerConfiguratorCore.ts
  src/core/app.module.core.ts
  src/core/metrics/prometheus.registry.test.ts
  src/core/metrics/prometheus.registry.ts
  src/core/metrics/swagger-auth.exclude.test.ts
  src/core/metrics/swagger-auth.exclude.ts
  src/core/metrics/waha.metrics.test.ts
  src/core/metrics/waha.metrics.ts
Due: lint, no-plus-in-core, no-console-log

[core] feat: Prometheus HTTP request metrics
  src/core/app.module.core.ts
  src/core/metrics/http.metrics.middleware.test.ts
  src/core/metrics/http.metrics.middleware.ts
  src/core/metrics/waha.metrics.test.ts
Due: lint, no-plus-in-core, no-console-log

[core] feat: Prometheus session gauges by status and engine
  src/api/metrics.controller.test.ts
  src/api/metrics.controller.ts
  src/core/app.module.core.ts
  src/core/metrics/session.metrics.test.ts
  src/core/metrics/session.metrics.ts
  src/core/metrics/waha.metrics.test.ts
Due: lint, no-plus-in-core, no-console-log

[core] feat: Prometheus message in/out counters
  src/core/app.module.core.ts
  src/core/metrics/message.metrics.test.ts
  src/core/metrics/message.metrics.ts
  src/core/metrics/waha.metrics.test.ts
Due: lint, no-plus-in-core, no-console-log

fix(chatwoot): name LID contacts by push name instead of their raw id
  src/apps/chatwoot/contacts/WhatsAppContactInfo.ts
Due: lint, no-console-log

fix(mcp): add default limit to chats-list pagination
  src/structures/chats.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Fix NOWEB archive with disabled store
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/noweb/store/INowebStore.ts
  src/core/engines/noweb/store/NowebInMemoryStore.test.ts
  src/core/engines/noweb/store/NowebInMemoryStore.ts
  src/core/engines/noweb/store/NowebPersistentStore.ts
Due: lint, no-plus-in-core, no-console-log

[core] Reject empty GOWS group text updates
  src/core/engines/gows/groups.validation.test.ts
  src/core/engines/gows/groups.validation.ts
  src/core/engines/gows/session.gows.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Add Argentine international phone candidate parsing
  src/apps/argentine-phone-numbers/utils/arPhone.test.ts
  src/apps/argentine-phone-numbers/utils/arPhone.ts
Due: lint, no-console-log

[core] Add opt-in Argentine phone resolution app
  src/apps/app_sdk/apps/apps.ts
  src/apps/app_sdk/apps/registry.ts
  src/apps/argentine-phone-numbers/app.module.ts
  src/apps/argentine-phone-numbers/dto/config.dto.ts
  src/apps/argentine-phone-numbers/plugins/ArgentinePhonePlugin.test.ts
  src/apps/argentine-phone-numbers/plugins/ArgentinePhonePlugin.ts
  src/apps/argentine-phone-numbers/services/ArgentinePhoneNumbersAppService.ts
Due: lint, no-console-log

[core] Document Argentine app and verify engine hook integration
  src/apps/argentine-phone-numbers/README.md
  src/apps/argentine-phone-numbers/plugins/ArgentinePhonePlugin.test.ts
Due: lint, no-console-log

[core] Expire Argentine resolution cache on activity
  src/apps/argentine-phone-numbers/plugins/ArgentinePhonePlugin.test.ts
  src/apps/argentine-phone-numbers/plugins/ArgentinePhonePlugin.ts
Due: lint, no-console-log

fix: add default limit to chats-list pagination (closes #2254) (fix #2253)
  src/structures/chats.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Document live Argentine GOWS lookup and delivery validation
  src/apps/argentine-phone-numbers/README.md
Due: lint, no-console-log

[core] Fix WEBJS presence subscriptions and LID lookup
  src/core/engines/webjs/WebjsClientCore.ts
Due: lint, no-plus-in-core, no-console-log

feat(GOWS): implement forwardMessage (closes #2256, fixes #1439)
  src/core/engines/gows/grpc/gows.ts
  src/core/engines/gows/grpc/gows_pb.js
  src/core/engines/gows/session.gows.core.ts
Due: lint, no-plus-in-core, no-console-log

up(NOWEB)
  yarn.lock
Due: no-console-log
