Repository devlikeapro/waha: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, no-plus-in-core, no-console-log

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    ^src/dashboard/.*|
    ^src/core/engines/webjs/.*html|
    ^src/plus/engines/webjs/.*html
  )$

repos:
  - repo: local
    hooks:
      - id: commit-message-prefix
        name: Validate Commit Message for src/plus Changes
        entry: python ./.precommit/validate_commit_message.py
        language: python
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: lint
        stages: [pre-commit]
        name: lint
        language: system
        entry: bash -c '$HOME/.nvm/nvm-exec npm run lint-cache'
        pass_filenames: false
        files: |
          (?x)^(
              src/.*|
          )$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.1.0'
    hooks:
      - id: prettier
        stages: [pre-commit]
        exclude: |
          (?x)^(
              docs/.*|
              README.md|
          )$
  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        stages: [pre-commit]
        name: README.md
        files: ^README.md$
  - repo: local
    hooks:
      - id: no-plus-in-core
        stages: [pre-commit]
        name: No "plus" in core
        language: pygrep
        entry: 'plus'
        files: |
          (?x)^(
              src/api/.*|
              src/core/.*|
              src/structures/.*|
              src/config.service.ts|
          )$

  - repo: local
    hooks:
      - id: no-console-log
        stages: [pre-commit]
        name: No console.log() calls
        language: pygrep
        entry: 'console\.log'
        exclude: |
          (?x)^(
              entrypoint.sh|
              .pre-commit-config.yaml|
              ^src/core/engines/webjs/session.webjs.core.ts|
          )$

[core] Add WAHA_AUTO_START_DELAY_SECONDS
  src/config.service.ts
Due: lint, no-plus-in-core, no-console-log

[core] Provide button.id
  src/core/engines/noweb/noweb.buttons.ts
  src/structures/chatting.buttons.dto.ts
Due: lint, no-plus-in-core, no-console-log

[core] Get body for buttons response
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Adjust logs
  src/core/engines/webjs/session.webjs.core.ts
  src/core/webhooks.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] Dashboard
  Dockerfile
Due: no-console-log

[core] 2024.10.5
  src/version.ts
Due: lint, no-console-log

[core] Add restart back
  .env.example
Due: no-console-log

[core] default 0 seconds delay
  src/config.service.ts
Due: lint, no-plus-in-core, no-console-log

[core] await start
  src/core/abc/manager.abc.ts
Due: lint, no-plus-in-core, no-console-log

[core] 2024.10.6
  src/version.ts
Due: lint, no-console-log

[core] fix webhooks send
  src/core/webhooks.core.ts
Due: lint, no-plus-in-core, no-console-log

[core] 2024.10.7
  src/version.ts
Due: lint, no-console-log

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: no-console-log

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: no-console-log

[core] Add WAHA_LOCAL_STORE_BASE_DIR
  .env.example
Due: no-console-log

[core] 2024.10.8
  src/version.ts
Due: lint, no-console-log

Create question.md
  .github/ISSUE_TEMPLATE/question.md
Due: no-console-log

Update message processing to include Instagram advertisements
  src/core/engines/noweb/session.noweb.core.ts
Due: lint, no-plus-in-core, no-console-log

Add serverless support for Vercel and update package configurations
  package.json
  src/main.ts
  src/serverless.ts
  tsconfig.json
  vercel.json
Due: lint, no-console-log

Revert "Add serverless support for Vercel and update package configurations"
  package.json
  src/main.ts
  src/serverless.ts
  tsconfig.json
  vercel.json
Due: lint, no-console-log

fix: allow sent poll messages to be visible to sender with includeSent flag
  src/core/utils/convertors.ts
Due: lint, no-plus-in-core, no-console-log

ui fix
  src/core/abc/session.abc.ts
Due: lint, no-plus-in-core, no-console-log

Added WHATSAPP_HOOK_CUSTOM_HEADERS to env example
  .env.example
Due: no-console-log

feat: chatwoot integration security features and privileged session handling
  .env.example
  docs/CHATWOOT_SECURITY.md
  src/apps/chatwoot/consumers/inbox/commands.ts
Due: lint, no-console-log

fix: rollback environment variable for Chatwoot app security
  .env.example
  src/apps/chatwoot/consumers/inbox/commands.ts
Due: lint, no-console-log

feat: implement per-app configuration for server command restrictions in ChatWoot
  docs/CHATWOOT_SECURITY.md
  src/apps/chatwoot/consumers/inbox/commands.ts
  src/apps/chatwoot/di/DIContainer.ts
  src/apps/chatwoot/dto/config.dto.ts
Due: lint, no-console-log

Create render.yaml
  render.yaml
Due: no-console-log

feat(chatwoot): implement message read status functionality
  src/apps/chatwoot/api/chatwoot.webhook.controller.ts
  src/apps/chatwoot/chatwoot.module.ts
  src/apps/chatwoot/client/ContactConversationService.ts
  src/apps/chatwoot/client/ConversationService.ts
  src/apps/chatwoot/consumers/QueueName.ts
  src/apps/chatwoot/consumers/waha/base.ts
  src/apps/chatwoot/consumers/waha/message.read.ts
  src/apps/chatwoot/services/ChatWootWAHAQueueService.ts
Due: lint, no-console-log

refactor: rename message.read.ts to message.ack.ts for better naming convention
  src/apps/chatwoot/chatwoot.module.ts
  src/apps/chatwoot/consumers/waha/message.ack.ts
Due: lint, no-console-log

feat: Add Facebook Ads support for Chatwoot integration
  all_improvements.patch
  src/apps/chatwoot/consumers/waha/message.any.ts
  src/apps/chatwoot/i18n/locales/en-US.yaml
  src/apps/chatwoot/i18n/locales/pt-BR.yaml
  src/apps/chatwoot/i18n/templates.ts
Due: lint, no-console-log

Implement all_improvements.patch: Add support for polls, events, and PIX messages
  all_improvements.patch
  facebook-ads-feature.patch
  src/apps/chatwoot/consumers/waha/message.any.ts
  src/apps/chatwoot/i18n/locales/pt-BR.yaml
  src/apps/chatwoot/i18n/templates.ts
Due: lint, no-console-log

Remove patch files from feature-msgtemplates branch
  all_improvements.patch
  facebook-ads-feature.patch
Due: no-console-log

Remove patch files from feature-msgAds branch
  all_improvements.patch
Due: no-console-log

Add poll, event, and PIX message templates to all locales
  src/apps/chatwoot/i18n/locales/ar-AE.yaml
  src/apps/chatwoot/i18n/locales/bn-BD.yaml
  src/apps/chatwoot/i18n/locales/de-DE.yaml
  src/apps/chatwoot/i18n/locales/en-US.yaml
  src/apps/chatwoot/i18n/locales/es-ES.yaml
  src/apps/chatwoot/i18n/locales/fa-IR.yaml
  src/apps/chatwoot/i18n/locales/fr-FR.yaml
  src/apps/chatwoot/i18n/locales/he-IL.yaml
  src/apps/chatwoot/i18n/locales/hi-IN.yaml
  src/apps/chatwoot/i18n/locales/id-ID.yaml
  src/apps/chatwoot/i18n/locales/pa-PK.yaml
  src/apps/chatwoot/i18n/locales/ru-RU.yaml
  src/apps/chatwoot/i18n/locales/tr-TR.yaml
  src/apps/chatwoot/i18n/locales/uk-UA.yaml
  src/apps/chatwoot/i18n/locales/ur-PK.yaml
  src/apps/chatwoot/i18n/locales/zh-CN.yaml
Due: lint, no-console-log

Update and rename .env.example to .env
  .env
Due: no-console-log

fix: semgrep_dockerfile.security.missing-user-entrypoint.missing-user-entrypoint_Dockerfile_218
  Dockerfile
Due: no-console-log

[PLUS] Add automatic presence management and activity tracking
  src/core/abc/session.abc.ts
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/noweb/session.noweb.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/core/manager.core.ts
  src/structures/sessions.dto.ts
Due: lint, no-plus-in-core, no-console-log

The location and vCard added to the gows toWAMessage method
  src/core/engines/gows/session.gows.core.ts
  src/core/engines/webjs/session.webjs.core.ts
  src/structures/responses.dto.ts
Due: lint, no-plus-in-core, no-console-log

init
  src/core/abc/session.abc.ts
  src/core/auth/config.ts
  src/core/engines/webjs/session.webjs.core.ts
Due: lint, no-plus-in-core, no-console-log

Fix typos in some files
  src/apps/chatwoot/consumers/waha/message.reaction.ts
Due: lint, no-console-log
